.her {
    
    font-family: "Anaheim", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }

  .her-heading{
    font-size: 60px;
  }
  .twooooo {
    display: block;
    font-size: 65px; /* Default font size */
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @media (max-width: 768px) {
    .twooooo {
      font-size: 44px; /* Smaller font size for mobile */
    }
  }
  
  .tile {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: left;
  }
  
  .tile-content {
    font-size: 1.2em;
  }

  